@import "breakpoint";

@import "variables/**/*";
@import "base/**/*";
@import "components/**/*";

.shopping-cart-app {
  max-width: $maxWidth;
  margin: 0 auto;
}

.main-header {
  font-size: $mainHeaderFontSize;
  margin: 1rem;
}

.main {
  padding: $headerHeight 1rem 2.5rem;
}
