$fontColor: #333;
$linkColor: #555;
$linkActiveColor: #27a;

$itemSoldOutColor: #f00;

$headerBorderColor: #999;
$headerBgColor: rgba(255, 255, 255, 0.85);
$headerFallbackBgColor: #fff;

$cartButtonBgColor: rgba(102, 136, 255, 0.85);
$cartButtonFallbackBgColor: #68f;
$cartButtonBorderColor: #46f;
$cartButtonHoverBgColor: rgba(85, 119, 255, 0.85);
$cartButtonHoverFallbackBgColor: #57f;
$cartButtonHoverBorderColor: #35f;
$cartButtonActiveBgColor: rgba(51, 85, 255, 0.85);
$cartButtonActiveFallbackBgColor: #35f;
$cartButtonActiveBorderColor: #24f;

$selectBgColor: #fff;
$selectBorderColor: #666;

$buttonFontColor: #fff;
$buttonBgColor: #2d2;
$buttonBorderColor: #2b2;
