$smallTabletBP: 40rem;
$largeTabletBP: 54rem;
$maxWidth: 75rem;

$headerHeight: 4.375rem;

$itemBP: 48rem;
$itemMobileMaxWidth: 25rem;
$itemDesktopMaxWidth: 60rem;

$cartMaxWidth: 60rem;

$shopItemMaxWidth: 21.625rem;

$buttonMaxWidth: 20rem;
