$fontFamily: Helvetica, Arial, sans-serif;

$rootFontSize: 16px;

$mainHeaderFontSize: 1.75rem;

$shopItemNameFontSize: 1.5rem;
$shopItemPriceFontSize: 1rem;

$cartItemNameFontSize: 1.25rem;
$cartItemPriceFontSize: 1rem;
$cartItemDeleteFontSize: 1.5rem;

$itemNameFontSize: 1.5rem;
$itemPriceFontSize: 1.25rem;

$totalFontSize: 1.25rem;

$qtySelectFontSize: 1rem;

$buttonFontSize: 1.25rem;
